* {
    font-family: 'Source Sans Pro';
}

:root {
    --white: #efefef;
    --black: #0c0c0c;
    --gray: #757575;
    --litegray: #948f8f;
    --lighterblack: #0b0b0b;
    --pigeon: #CFD8DC;
    --cloud: #ecf0f1;
    --lightgray: #d8d6d6;
    --blue: #34325e;
    --lightblue: #413f6e;
}

@keyframes slideDown {
    from {
        top: -10%;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -10%;
        opacity: 0;
    }
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cloud);
    flex-direction: column;
    padding: 0;
    margin: 0;
}


/* index.php */

#search_container {
    background: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 3px 10px 1px var(--lightgray);
    padding: 2vw;
    font-family: 'Source Sans Pro';
    width: 60vw;
    height: 75vh;
    position: relative;
}

.search-submit-button {
    background: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 1vh;
    box-shadow: -1px 3px 10px 1px var(--gray);
    cursor: pointer;
    transition: background 0.3s;
}

.search-submit-button:hover {
    box-shadow: -1px 3px 10px 1px var(--litegray);
    background: var(--lightblue);
}

.search-bar {
    display: none;
    width: 80%;
    height: 5vh;
    border: -1px solid var(--lightgray);
    border-radius: 4px;
    background-image: url(img/search.svg);
    background-position: right;
    background-position-x: 98%;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: -1px 3px 10px 1px #bec7ca;
    margin-top: 1vh;
    position: relative;
    top: -11%;
    opacity: 0;
    animation: slideDown 0.3s;
    animation-fill-mode: forwards;
    padding-left: 1vh;
}

.search-bar:placeholder {
    margin-left: 10vw;
}

.type-list {
    display: none;
    background: white;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 80%;
    height: 5vh;
    padding-left: 1vh;
    margin: 0;
    box-shadow: -1px 3px 10px 1px #bec7ca;
    margin-top: 1vh;
    position: relative;
    background-image: url(img/selector.svg);
    background-position: right;
    background-position-x: 98%;
    background-repeat: no-repeat;
    top: -10%;
    opacity: 0;
    animation: slideDown 0.3s;
    animation-fill-mode: forwards;
}

.type-list::before {
    position: absolute;
    content: '';
    width: 20%;
    height: 100%;
    top: 0;
    right: 0;
    background: yellow;
}

#prostokat {
    width: 80%;
    height: 5vh;
    padding: 0;
    border-radius: 4px;
    background: var(--white);
    display: block;
    margin-top: 1vh;
}

.search-menu {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    color: var(--gray);
}

.radio {
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    padding: 1.2vh;
    transition: background 0.1s;
    border: 1px solid var(--lightgray);
    margin: 1vh;
    text-align: center;
    transition: 0.3s;
    width: 15vw;
    cursor: pointer;
}

label {
    border-radius: 4px;
    font-family: 'Source Sans Pro';
    padding: 1.2vh;
    transition: background 0.1s;
    border: 1px solid var(--lightgray);
    margin: 1vh;
    text-align: center;
    transition: 0.3s;
    width: 15vw;
    cursor: pointer;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.5s all linear;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


/* lista.php */

#results {
    border-radius: 7px;
    box-shadow: -1px 3px 10px 1px var(--lightgray);
    padding: 2vh;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    background: var(--white);
    width: 70vw;
    box-sizing: border-box;
    position: absolute;
}

.result {
    transition: 0.5s;
    display: grid;
    position: relative;
    margin-bottom: 1vh;
    border-radius: 4px;
    padding: 1vh;
}

.result:hover {
    background: var(--lightgray);
}

.result::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    background: var(--blue);
    left: -0.9vw;
}

.result-button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
    background: url();
    background-position: center;
    background-repeat: no-repeat;
}

.result-button:hover {
    color: white;
}

.info-container {
    display: none;
    margin-bottom: 1vh;
}

.h2all {
    font-weight: 400;
    font-style: italic;
}

.title {
    padding: 0;
    margin: 0;
}

.author {
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.date {
    font-weight: 300;
}

.sub-text {
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    #results {
        width: 90vw;
    }
    label {
        width: 35vw;
    }
}

@media screen and (max-width: 1216px) {
    #search-container {
        width: 90vw;
    }
    .search-menu {
        width: 50vw;
    }
}

@media screen and (max-width: 487px) {
    .search-menu {
        width: 75vw;
    }
}