@keyframes fadeUp {
    from {
        opacity: 0;
        bottom: 0;
    }
    to {
        opacity: 1;
        bottom: 4%;
    }
}

@keyframes fadeDown {
    from {
        opacity: 1;
        bottom: 4%;
    }
    to {
        opacity: 0;
        bottom: 0;
    }
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-color);
}

#search {
    width: 50%;
    height: 8%;
    min-height: 36px;
    background: var(--secondary-color);
    box-shadow: 0px 3px 4px var(--shadow-color);
    border-radius: 25px;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

#search__bar {
    background-color: var(--bg-input-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    width: 100%;
    padding: 1vh;
    gap: 1%;
}

#bar__input {
    width: 80%;
    /* border: 1px solid var(--primary-color); */
    min-height: 41px;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-input-color);
    color: var(--headers-color);
    font-size: 1.03em;
    box-sizing: border-box;
}

#bar__input:focus {
    outline: none;
}

#bar__input::placeholder {
    color: var(--headers-color);
    font-size: 1.03em;
}

#search__select {
    position: relative;
    min-height: 41px;
    color: var(--headers-color);
    display: flex;
    background: var(--bg-input-color);
    border-radius: 10px;
    appearance: none;
    border: 1px solid var(--primary-color);
    border: none;
    width: 70%;
    background-image: url(../../assets/img/icons/selector.svg);
    background-position: right;
    background-position-x: 98%;
    background-repeat: no-repeat;
    padding: 2.1vh;
    font-size: 1.03em;
    text-align: center;
    cursor: pointer;
}

.search__button {
    border: none;
    background: var(--primary-color);
    color: var(--font-color);
    cursor: pointer;
}

.search__button--showall {
    width: 50%;
    border-radius: 10px;
    background: var(--primary-color);
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 2.5%;
    transition: filter 0.3s;
    transition: transform 0.3s;
    color: white;
}

.search__button--showall:hover {
    filter: brightness(90%);
    transform: scale(1.05)
}

.search__button--submit {
    border-radius: 20px;
    padding: 2%;
    transition: transform 0.3s, filter 0.3s;
}

.search__button--submit:hover {
    filter: brightness(90%);
    transform: scale(1.10);
}

.search__button--submit:focus {
    -moz-outline-radius: 20px;
}

.search__button--reset {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    position: absolute;
    bottom: 4%;
    border-radius: 50%;
    box-shadow: 0px 3px 4px var(--shadow-color);
    animation: .5s fadeUp;
    animation-fill-mode: forwards;
    transition: transform 0.3s, filter 0.3s;
}

.search__button--reset:hover {
    filter: brightness(90%);
    transform: scale(1.07);
}

.search__button--reset:focus {
    -moz-outline-radius: 50%;
}


.focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--primary-color);
    -moz-outline-radius: 10px;
}

@media screen and (max-width: 1000px) {
    #search {
        width: 80%;
        min-height: 226px;
        height: 30%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-content: center;
        grid-template-areas:
            "searchbar searchbar"
            "genrelist genrelist"
            "showall_button submit_button";
    }

    #search__bar {
        margin: 0;
        grid-column: searchbar;
        grid-row: searchbar;
    }

    #search__select {
        width: 100%;
        margin: 0;
        grid-column: genrelist;
        grid-row: genrelist;
    }

    .search__button--showall {
        min-height: 35px;
        width: 80%;
        margin: 0;
        grid-column: showall_button;
        grid-row: showall_button;
    }

    .search__button--submit {
        min-height: 21px;
        padding: 2.5vh;
        margin: 0;
        grid-column: submit_button;
        grid-row: submit_button;
    }

    .search__button--reset{
        padding: 1vh;
    }
}

