@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    height: fit-content;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

#button--goback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 10%;
    background: var(--primary-color);
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin: 2vh;
    padding: 1vh 1.5vh 1vh 1.5vh;
    border-radius: 4px;
    box-shadow: -1px 3px 10px 1px var(--shadow-color);
    z-index: 1;
    opacity: 0;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
    border: none;
    cursor: pointer;
    transition: .3s transform;
}

#button--goback:hover {
    transform: scale(1.07);
}

#item {
    width: 50%;
    background: var(--secondary-color);
    display: grid;  
    border-radius: 10px;
    padding: 2vh;
    box-shadow: 0px 3px 4px var(--shadow-color);
    cursor: pointer;
    min-height: 90px;
    max-height: 100px;
    transition: min-height 0.3s ease-in-out, max-height 0.3s ease-in-out, filter 0.1s;
}

#item.expanded {
    max-height: 300px;
    min-height: 250px;
    transition: min-height 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

#item:hover {
    filter: invert(5%);
}

#item__id {
    color: var(--font-color);
}

#item__title {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: var(--font-color);
}

#item__author {
    padding: 0;
    margin: 0;
    font-weight: 300;
    color: var(--font-color);
}

#item__author a, a:visited {
    color: var(--font-color);
    text-decoration: none;
}

#item__date {
    color: var(--font-color);
    font-weight: 300;
}

#item__details {
    font-weight: 400;
    color: var(--font-color);
    display: none;
    grid-template-columns: 2fr 2fr 1fr;
    transition: 0.7s;
}

#item__details.active {
    opacity: 0;
    display: grid;
    animation: appear 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.details__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.details__column--left {
    width: 70%;
    grid-column: 1;
}
.details__column--middle {
    width: 90%;
    grid-column: 2;
    text-align: right;
}

.details__column--middle b {
    text-align: left;
}
.details__column:right {
    width: 100%;
    align-items: center;
    grid-column: 3;
}

#details__pages,
#details__price,
#details__release,
#details__original,
#details__genre,
#details__house {
    font-size: 17px;
    width: 100%;
    display: flex;
    align-self: cener;
    justify-content: space-between;
}

#details__cover {
    border-radius: 5px;
    width: 144px;
}

@media only screen and (max-width: 600px) {
    main {
        margin-top: 5vh;
    }

    #item {
        width: 80%;
        min-height: 90px;
        max-height: 100px;
    }
    
    #item.expanded {
        max-height: 550px;
        min-height: 500px;
    }

    #item__details.active {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .details__column {
        margin-top: 10px;
    }

    .details__column--left {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) { 
    #item {
        width: 80%;
        min-height: 90px;
        max-height: 100px;
    }
    
    #item.expanded {
        max-height: 550px;
        min-height: 500px;
    }

    #item__details.active {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .details__column {
        margin-top: 10px;
    }

    .details__column--left {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    #item {
        width: 70%;
        min-height: 90px;
        max-height: 100px;
    }
    
    #item.expanded {
        max-height: 550px;
        min-height: 500px;
    }

    #item__details.active {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .details__column {
        margin-top: 10px;
    }

    .details__column--left {
        width: 90%;
    }
}

/* @media only screen and (min-width: 992px) {

} */

@media only screen and (min-width: 1200px) {
    #item {
        width: 50%;
        min-height: 90px;
        max-height: 100px;
    }
    
    #item.expanded {
        max-height: 300px;
        min-height: 250px;
    }

    #item__details.active {
        opacity: 0;
        display: grid;
    }

    .details__column--left {
        width: 70%;
        grid-column: 1;
    }
}
