* {
    font-family: 'Source Serif Pro';
}

:root {
    --white: #efefef;
    --black: #0c0c0c;
    --gray: #757575;
    --lighterblack: #0b0b0b;
    --pigeon: #CFD8DC;
    --cloud: #ecf0f1;
    --lightgray: #d8d6d6;
    --blue: #34325e;
    --blue_gradient: linear-gradient( 112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%);
}

@keyframes slideDown {
    from {
        opacity: 0;
        bottom: 100;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: var(--cloud);
    overflow-x: hidden;
}

#results {
    width: 70vw;
    border-radius: 7px;
    box-shadow: -1px 3px 10px 1px var(--lightgray);
    padding: 2vh;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    background: var(--white);
}

#goback-button {
    position: fixed;
    bottom: 0;
    right: 15%;
    background: var(--blue);
    text-decoration: none;
    color: white;
    margin: 2vh;
    padding: 1vh;
    border-radius: 4px;
    box-shadow: -1px 3px 10px 1px var(--gray);
    z-index: 999;
    opacity: 0;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}

#goback-button:visited {
    color: white;
}

.hiden {
    display: none;
}

.result {
    display: grid;
    position: relative;
    margin-bottom: 1vh;
    border-radius: 4px;
    padding: 1vh;
}

.result:hover {
    background: var(--lightgray);
}

.result::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    background: var(--blue);
    left: -1vw;
}

.result-button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 10%;
    border: none;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
    background: url(info.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10vw;
}

.result-button:hover {
    color: white;
}

.info-container {
    display: none;
    margin-bottom: 1vh;
    font-weight: 400;
    transition: 1s;
}

.active {
    display: inline;
}

.h2all {
    font-weight: 400;
    font-style: italic;
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

.title {
    padding: 0;
    margin: 0;
}

.author {
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.date {
    font-weight: 300;
}

.bluebg {
    background: var(--blue);
    color: var(--white);
    font-style: normal;
    padding: 3px;
}

.page-title {
    margin-top: 2vw;
}

@media screen and (max-width: 600px) {
    #results {
        width: 90vw;
    }
    .page-title {
        margin-top: 25vw;
    }
    #goback-button {
        right: 10%;
    }
}