* {
    font-family: 'Roboto Slab', serif;
}


:root[data-theme="dark"] {
    --primary-color: #34325e;
    --secondary-color: #11112c;
    --font-color: #efefef;
    --bg-color: #0f101f;
    --headers-color: #efefef;
    --bg-input-color:#15183c;
    --shadow-color: rgba(0, 0, 0, 0.25);
}

:root[data-theme="light"] {
    --primary-color: #34325e;
    --secondary-color: #e5e5e5;
    --font-color: #0c0c0c;
    --bg-color: rgb(237, 241, 242);
    --headers-color: #6B6A6A;
    --bg-input-color: #d4d4d4;
    --shadow-color: rgba(0, 0, 0, 0.25);
}

:focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--primary-color);
    -moz-outline-radius: 10px;
}


html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--bg-color);
}

header {
    position: absolute;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    z-index: 1;
}


#theme {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1vh;
    left: 1vh;
    z-index: 2;
}

#theme__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 32px;
    background-color: var(--bg-input-color);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 4px var(--shadow-color);
    appearance: none;
    outline: none;
}

#theme__toggle--state {
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ffcc33;
    transition: all 0.3s;
    cursor: pointer;
}

#theme__toggle--state::before {
    content: '';
    position: absolute;
    left: 1px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: var(--bg-input-color);
    cursor: pointer;
}

#theme__toggle:checked + #theme__toggle--state  {
    transform: translateX(26px);
}

#theme__toggle:checked + #theme__toggle--state::before {
    background-repeat: #15153b;
    transform: scale(25);
}

#title {
    color: var(--headers-color);
    font-size: 2em;
    font-weight: 600;
    margin-right: 2%;
}

.subtitle {
    color: var(--headers-color);
    font-weight: 300;
    font-size: 1.25em;
    font-style: italic;
}

.subtitle--highlight {
    background: var(--primary-color);
    color: #efefef;
    font-style: normal;
    padding: 3px;
}
